@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

* {
    font-family: Inter, sans-serif;
}

body {
    padding: 0 15%;
}

@media only screen and (max-width: 1020px) {
    body {
        padding: 0;
    }
}