.border {
    border-top-color: var(--p-surface-400);
}

.logo {
    cursor: pointer;
    user-select: none;
}

.drawer-logo {
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
    background: var(--p-surface-200);
}

.image {
    border-radius: 50%;
}

.footer {
    background: var(--p-surface-100);
    color: var(--p-surface-500);
}

.whatsapp {
    padding-top: 2px;
    cursor: pointer;
}

.whatsapp:hover {
    border-bottom: 1px solid var(--p-surface-500);
}

.header {
    background: var(--p-surface-200);
}

.sidebar, .content, .drawer {
    background: var(--p-surface-100);
    min-width: 270px;
    min-height: 75vh;
}

.drawer {
    width: 100%;
}

.content {
    position: relative;
    background: none;
    width: 100%;
}

.dark-header {
    background: var(--p-surface-800);
}

.dark-sidebar, .dark-drawer {
    background: var(--p-surface-600);
}

.dark-footer {
    background: var(--p-surface-900);
}

.bars {
    display: none;
}

.spinner {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    top: 0;
    left: 0;
    padding-left: calc(50% - 36px);
    padding-top: calc(50% - 36px);
    background: rgba(128, 0, 128, 0.01);
    z-index: 500;
}

.loader {
    width: 72px;
    height: 72px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';  
    box-sizing: border-box;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 4px solid var(--p-primary-color);
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 1.5s linear infinite;
}

.loader::after {
    animation-delay: 0.75s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@media only screen and (max-width: 1020px) {
    .sidebar {
        display: none;
    }

    .bars {
        display: block;
    }
}