<div class="flex flex-column gap-2 card" id="card">
    <div class="flex justify-content-between">
        <div class="font-bold font-italic ribbon">Gold</div>
        <div class="flex gap-1 text-xs value">
            <img src="etn-logo.svg" width="12" alt="ETN" />
            <span>50 000</span>
        </div>
    </div>
    <div class="flex justify-content-between p-2 bottom">
        <div></div>
        <p-button label="Buy" size="small" text raised severity="success" icon="pi pi-credit-card" iconPos="right" />
    </div>
</div>